@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
    width: 450px;
    height: 450px;
}

body {
    background: url(page_lines.svg);
    background-position: 0 59px;
    background-size: 1400px 120px;
    padding: 110px 0px 90px 0px;
}

.samson {
    position: absolute;
    left: 5%;
    bottom: 15%;
}

.logo {
    position: absolute;
    left: 5%;
    top: 3%;
    width: 250px;
    height: auto;
}

.percentageCircle {
    position: absolute;
    right: 5%;
    bottom: 15%;
}

.percentage {
    user-select: none;
}

.poweredBy {
    font-family: 'Titan One', cursive;
    color: #df7018;
    font-size: 16px;
    position: absolute;
    bottom: 5px;
    margin: 0px;
    user-select: none;
}

.percentageExplain {
    position: absolute;
    z-index: 1;
    left: 229px;
    top: 250px;
    width: auto;
    font-size: 22px;
    color: #cccccc;
    display: block;
    text-align: center;
    white-space: nowrap;
    cursor: default;
    user-select: none;
}

.calcButton {
    position: absolute;
    right: 5%;
    top: 5%;
    border-radius: 8px;
    color: white;
    font-family: "Open Sans";
    background-color: rgb(147, 197, 36);
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    user-select: none;
}

.clickButtonExplain {
    position: absolute;
    z-index: 1;
    left: 219px;
    top: 201px;
    width: auto;
    font-size: 22px;
    color: #cccccc;
    display: block;
    text-align: center;
    white-space: nowrap;
    cursor: default;
    user-select: none;
}
